---
title: "https verification"
source: google-search-central-blog
content_type: "short_announcement"
freshness_risk: "historical"
slug: "2006-05-https-verification"
url: "https://developers.google.com/search/blog/2006/05/https-verification"
canonical: "https://developers.google.com/search/blog/2006/05/https-verification"
author: "Vanessa Fox"
published: "2006-05-17T00:00:00+00:00"
updated: "2006-05-17T00:00:00+00:00"
categories:
  - "Google Search Central Blog"
freshness_reasons:
  - "date_2006_very_old"
  - "news_or_research"
  - "official_update_or_announcement"
fetched_at: "2026-06-14T12:45:29+00:00"
status_code: 200
html_hash: "69319646f42b45505a1828b749216b5fce142879dd45453d0fc934dadf949a2c"
clean_word_count: 62
clean_char_count: 422
---
# https verification

Recently, we told you that we were
[working on making verification](/search/blog/2006/04/https-verification) of site
ownership available for https sites. This is now available, so if you have an https site, you can
now
[verify site ownership](https://support.google.com/webmasters/answer/9008080)
and
[see statistics](https://support.google.com/webmasters/answer/7576553)
and diagnostic information.
